html {
    font-size: 16px;
}

body {
    background-color: #f7f5f0;
}

h1 {
    font-family: 'Belleza', sans-serif;
    font-size: 8rem;
    font-weight: 100;
    letter-spacing: 0.8rem;
    text-transform: uppercase;
    width: 100%;
    color: #c07f0e;
}

h2{
    font-family: 'Belleza', sans-serif;
    font-size: 3.5rem;
    font-weight: 100;
    letter-spacing: 0.8rem;
    text-transform: uppercase;
    color: #512222;
}

h3{
    font-family: 'Belleza', sans-serif;
    font-size: 2rem;
    font-weight: 100;
    letter-spacing: 0.6rem;
    text-transform: uppercase;
    color: #512222;
}

h4{
    font-family: 'Belleza', sans-serif;
    font-size: 2rem;
    font-weight: 100;
    letter-spacing: 0.6rem;
    text-transform: uppercase;
    color: #512222;
}

p{
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    font-weight: 100;
    color: #423228;

}