.sliderContainer {
  margin: 20vh 0;
  position: relative;
  h2 {
    width: 100%;
    text-align: center;
    font-size: 5rem;
    margin-bottom: 1rem;
  }
  .prev {
    position: absolute;
    top: 50%;
    left: 10%;
    font-size: 3rem;
    background-color: #ffffff00;
    border: 0;
    transition: color 0.4s ease-out;
  }
  .next {
    position: absolute;
    top: 50%;
    right: 10%;
    font-size: 3rem;
    background-color: #ffffff00;
    border: 0;
    transition: color 0.4s ease-out;
  }

  button:hover {
    cursor: pointer;
    color: #c7c2b1;
  }
}

.proj {
  border-radius: 10px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
  margin: 0 auto;
  img {
    width: 70%;
    margin: -12vh 0;
  }
}

.projectLinks {
  a {
    font-size: 2rem;
    padding: 1rem;
    color: #423228;
    text-decoration: none;
    transition: color 0.4s ease;
  }
  a:hover {
    color: #b34b17;
  }
}

.blob3 {
  position: absolute;
  width: 32%;
  right: 0;
  bottom: -60vh;
  z-index: 20;
}
